body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #28282D;
}

.container {
    display: flex;
    height: 85vh;
    width: 90vw;
    margin: 10vh auto 0 auto;
    border-radius: 15px;
    background-color: #161619;
}

.sidebar {
    flex-basis: 15%;
    padding: 2em;
    color: white;
    border-right: 2px solid #28282D;
    display: flex;             
    flex-direction: column;    
}

.nav-container {
    flex-grow: 1;              
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;  
    margin-top: 14em;
}

.logo {
    font-size: 1.5em;
    margin-bottom: 2em;
    width: 50px;
    height: 50px;
}

.nav-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5em 0;
}

.nav-item:hover {
    text-decoration: underline;
}

.wallet-connect {
    position: absolute;
    bottom: 2em;
    left: 2em;
    padding: 1em 1em;
    background-color: #5036D0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s; 

}

.wallet-connect:active {
    transform: scale(0.95); 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.content {
    flex-basis: 100%;
    padding: 2em;
    color: white;
}

header {
    border-bottom: 1px solid #212125;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

h1 {
    margin: 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.stat-item {
    background-color: #212125;
    padding: 1em;
    border-radius: 8px;
    flex-basis: 30%;
    text-align: center;
}

.lower-content {
    flex-grow: 1;
    background-color: #212125;
    border-radius: 8px;
}



.lower-content {
    flex-grow: 1;
    background-color: #212125;
    border-radius: 8px;
    overflow: auto; 
    padding: 10px; 
}


.lower-content table {
    width: 100%; 
    border-collapse: collapse; 
}


.lower-content th, .lower-content td {
    border: 1px solid #444; 
    padding: 8px; 
    text-align: left; 
}

.lower-content th {
    background-color: #212125; 
    color: #fff !important; 
}


